USE [master]
GO
/****** Object:  Database [MUSIC DATABASE]    Script Date: 06-09-2025 12:41:03 ******/
CREATE DATABASE [MUSIC DATABASE]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'MUSIC DATABASE', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MUSIC DATABASE.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'MUSIC DATABASE_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\MUSIC DATABASE_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [MUSIC DATABASE].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [MUSIC DATABASE]
GO
/****** Object:  Table [dbo].[album]    Script Date: 06-09-2025 12:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[album](
	[album_id] [smallint] NULL,
	[title] [nvarchar](100) NULL,
	[artist_id] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[artist]    Script Date: 06-09-2025 12:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[artist](
	[artist_id] [smallint] NULL,
	[name] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[customer]    Script Date: 06-09-2025 12:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[customer](
	[customer_id] [tinyint] NULL,
	[first_name] [nvarchar](50) NULL,
	[last_name] [nvarchar](50) NULL,
	[company] [nvarchar](50) NULL,
	[address] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[postal_code] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[fax] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL,
	[support_rep_id] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[employee]    Script Date: 06-09-2025 12:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[employee](
	[employee_id] [tinyint] NULL,
	[last_name] [nvarchar](50) NULL,
	[first_name] [nvarchar](50) NULL,
	[title] [nvarchar](50) NULL,
	[reports_to] [tinyint] NULL,
	[levels] [money] NULL,
	[birthdate] [datetime2](7) NULL,
	[hire_date] [datetime2](7) NULL,
	[address] [nvarchar](50) NULL,
	[city] [nvarchar](50) NULL,
	[state] [nvarchar](50) NULL,
	[country] [nvarchar](50) NULL,
	[postal_code] [nvarchar](50) NULL,
	[phone] [nvarchar](50) NULL,
	[fax] [nvarchar](50) NULL,
	[email] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[genre]    Script Date: 06-09-2025 12:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[genre](
	[genre_id] [tinyint] NULL,
	[name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice]    Script Date: 06-09-2025 12:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice](
	[invoice_id] [smallint] NULL,
	[customer_id] [tinyint] NULL,
	[invoice_date] [datetime2](7) NULL,
	[billing_address] [nvarchar](50) NULL,
	[billing_city] [nvarchar](50) NULL,
	[billing_state] [nvarchar](50) NULL,
	[billing_country] [nvarchar](50) NULL,
	[billing_postal_code] [nvarchar](50) NULL,
	[total] [float] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[invoice_line]    Script Date: 06-09-2025 12:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[invoice_line](
	[invoice_line_id] [smallint] NULL,
	[invoice_id] [smallint] NULL,
	[track_id] [smallint] NULL,
	[unit_price] [float] NULL,
	[quantity] [tinyint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[media_type]    Script Date: 06-09-2025 12:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[media_type](
	[media_type_id] [tinyint] NULL,
	[name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[playlist]    Script Date: 06-09-2025 12:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[playlist](
	[playlist_id] [tinyint] NULL,
	[name] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[playlist_track]    Script Date: 06-09-2025 12:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[playlist_track](
	[playlist_id] [tinyint] NULL,
	[track_id] [smallint] NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[track]    Script Date: 06-09-2025 12:41:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[track](
	[track_id] [smallint] NULL,
	[name] [nvarchar](max) NULL,
	[album_id] [smallint] NULL,
	[media_type_id] [tinyint] NULL,
	[genre_id] [tinyint] NULL,
	[composer] [nvarchar](max) NULL,
	[milliseconds] [int] NULL,
	[bytes] [int] NULL,
	[unit_price] [float] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
USE [master]
GO
